Debug/
Release/
x64/
.vs/
*.log
*.top5000.cmty.txt
*.ungraph.txt
*.nodeCIDs.txt
*.nodePoses.txt
test/
BlackHoleCD.sln
BlackHoleCD.vcxproj
BlackHoleCD.vcxproj.filters
BlackHoleCD.vcxproj.user
*.txt
*.out
*.dat
!football.ungraph.txt